./imgs/background2.jpg
./imgs/background3.jpg
./imgs/background4.jpg
./imgs/background5.jpg
./imgs/background5.xcf
./imgs/background6.jpg
./imgs/background6.png
./imgs/background7.jpg
./imgs/background8.jpg
./imgs/background9.jpg
./imgs/background10.jpg
.git/
