/* Reduce by factor 12 */
#submit {
  font-size: 24px;
}

#submit:hover,
#hamburgerDown:hover  {
  background-color: #dc3545;
  font-size: 26px;
  color: white;
}

#hamburgerDown {
  height: 36px;
  width: 42px;
}

#hamburgerDown:hover {
  height: 26px;
  width: 40px;
}

#startWeight,
#actualWeight,
#diffWeight,
#actualBMI,
#avgWeight,
#avgBMI {
  border: 0;
  background-color: white;
  font-size: 24px;
}

#formInputs2 div {
  border: 1px solid #17a2b8;
}

#height,
#weight,
#time,
#date
{
  font-size: 24px;
}

th {
  font-size: 20px;
}

tr {
  font-size: 14px;
}

#dropdownMenuButton {
  font-size: 20px;
}

#formInputs2 label,
#formInput label {
  font-size: 18px;
}

label,
input {
  font-size: 8px;
}

input:focus {
  background-color: #ccc;
}

tbody tr:nth-child(odd) {
	background-color: rgba(255,255,255,0.8);
  color: black;
}
#backgroundOverview {
  max-height: 740px;
}
#tableContainer {
  height: 500px;
  overflow-y: scroll;
}
#submit {
  min-height: 42px;
}
#canvasWeight {
  /* At100% the canvas will have 1880px */
  max-width: 100%;
  /* And here 200 px */
  height: 400px;
  border: 1px solid #17a2b8;
  border-top: 0;
  background-color: white;
  /* box-shadow: 1px 2px 2px 2px gray;  */
}
.jumbotron {
   background: rgb(255, 255, 255); /* This is for ie8 and below */
   background: rgba(255, 255, 255, 0.8);
   text-shadow: white 0px 0px 10px;
}
/* nice border transition below */
.nav-link:hover {
    transition: border 0.2s;
    border-bottom: 1px solid white;
}
.nav-item {
  font-size: 1.3rem;
}

body {
  /* adding a little of overlay */
  background: rgba(0,0,0,0.05);
  /* background: url("../imgs/background2.jpg") top center / cover no-repeat; */
}

/* Align the navbar in html to the right when uncollapsed */
#navbarSupportedContent .navbar-nav {
  align-items: flex-end;
}

/* Styling the bodyweight site input form*/
#formOutput,
#formInput {
  border: 1px solid #17a2b8;
  border-bottom: 0;
  padding: 10px;
  background-color: white;
  margin: 0;
}


.sectionBCanvasButtons {
  border: 1px solid #17a2b8;
  border-top: 0;
  border-bottom: 0;
  padding: 10px;
  background-color: white;
  margin: 0;
}

#formInput {
  border: 1px solid #007bff;
  border: 1px solid black;
  border: 1px solid #6c757d;
}

#formOutput h2,
#formInput h2 {
  font-weight: 200;
}

#dropdownMenuButton {
  background: #343a40;
  border: none;
  font-size: 2rem;
  color:  #17a2b8;
  color: #ffc107;
}
.dropdown div a:hover {
  background: #007bff;
  color: #fff;
  font-weight: 750;
}

button {
  cursor: pointer;
}

@media screen and (max-width: 1400px) {

  #formInput h2,
  #formOutput h2 {
    font-size: 36px;
  }


  #startWeight,
  #actualWeight,
  #diffWeight,
  #actualBMI,
  #avgWeight,
  #avgBMI {
    border: 0;
    background-color: white;
    font-size: 18px;
  }

  #height,
  #weight,
  #time,
  #date
  {
    font-size: 18px;
  }

  #hamburgerDown {
    height: 36px;
    width: 42px;
  }

  #hamburgerDown:hover {
    height: 36px;
    width: 42px;
  }

  #loadJSONBtn {
    display: none;
  }
  #canvasWeight {
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
  .btn {
    font-size: 14px;
  }
  /* buttons group canvas */
  .btn-secondary,
  footer {
    font-size: 12px;
  }

  .btn-secondary {
    font-weight: 750;
  }
  /* resize images */
  /* img {
    max-width: 30px;
    min-width: 26px;
  } */

  th, tr, label, #dropdownMenuButton {
    font-size: 16px;
  }
  #date {
    font-size: 24px;
  }

  #dropdownMenuButton {
    padding: 0;
  }

  .nav-link:hover {
  border-bottom: none;
  }
}

@media screen and (max-width: 600px) {
  .bodyWeightImg,
  .bodyPressureImg,
  .bloodySugarImg {
    min-width: 100%;
  }
}


@media screen and (max-width: 374px) {

  th, tr, label, input, #dropdownMenuButton {
    font-size: 14px;
  }

  #date {
    font-size: 18px;
  }

}
