label,
input {
  font-size: 14px;
}
/* #tableContainer {
  height: 500px;
  overflow-y: scroll;
} */
submit {
  cursor: pointer;
}
#canvasWeight {
  /* At100% the canvas will have 900px */
  /* width: 100%; */
  /* And here 200 px */
  /* height: 200px; */
  border: 2px solid gray;
  background-color: white;
  box-shadow: 1px 2px 2px 2px gray;
}
.jumbotron {
   background: rgb(255, 255, 255); /* This is for ie8 and below */
   background: rgba(255, 255, 255, 0.8);
   text-shadow: white 0px 0px 10px;
}
@media screen and (max-width: 1400px) {
  #canvasWeight {
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
  .btn {
    font-size: 14px;
  }
  /* buttons group canvas */
  .btn-secondary,
  footer {
    font-size: 12px;
  }
  /* resize images */
  img {
    max-width: 32px;
  }
}
