
body {
  font-size: 28px;
    zoom: 1.6;
    -moz-transform: scale(1.6);
    -moz-transform-origin: 0 0;
}

label {
  font-size: 20px;
}

submit {
  cursor: pointer;
}

#canvasWeight {
  /* At100% the canvas will have 900px */
  /* width: 100%; */
  /* And here 200 px */
  /* height: 200px; */
  border: 2px solid gray;
  background-color: white;
  box-shadow: 1px 2px 2px 2px gray;
}

/** Responsive Web Design: for canvas & subcontainer*/
@media screen and (max-width: 1200px) {
  body {
    font-size: 14px;
  }
  label {
    font-size: 12px;
  }
  #canvasWeight{
    overflow-x: auto;
  }
}

@media screen and (max-width: 800px) {
  #canvasWeight, .containerGroup{
    display: none;
  }
}
